@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* Style général */
*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    background-color: #23242a; 
    font-family: 'Poppins', sans-serif;
    transition: 0.3s background-color;
}
body.stopScrolling{
    height: 100%;
    overflow: hidden;
}
h1{
    color: #45f3ff;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    color: #45f3ff;
    font-size: 1.5rem;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    position: relative;
    width: 100%;
    max-width: 75rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}
.logo{
    margin-right: 1.5rem;
    height: 120px;
    line-height: 120px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: #45f3ff;
    letter-spacing: 1px;
    transition: 0.3s;
}
.text{
    color: #45f3ff;
    font-size: 0.9rem;
    margin: 2rem 0;
    line-height: 2.3;
    transition: 0.3s color;    
}
section{
    position: relative;
    padding: 7rem 0;
}
/* <!==============================================  HOME PAGE ================================================================================!>  */
.navbtn{
    display: inline-block;
    padding: 0.9rem 1.75rem;
    border-radius: 17px;
    background-color: #45f3ff;
    color: #1c1c1c;
    font-size: 0.85rem;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-family: inherit;
    cursor: pointer;
    transition: 0.3s;
}
.navbtn2{
    display: inline-block;
    padding: 0.9rem 1.75rem;
    border-radius: 17px;
    background-color: #45f3ff;
    color: #1c1c1c;
    font-size: 0.85rem;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-family: inherit;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 5px;
}
header{
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: 0.3s;
}
nav.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #1c1c1c;
    border-radius: 17px;
    margin-top: 2rem;
}

header.logo{
    height: 120px;
    line-height: 120px;
}
header .scolled .logo{
    height: 80px;
    line-height: 80px;
}
.links{
    flex: 1;
    display: flex;
    justify-content: space-between;
}
.links ul{
    display: flex;
    align-items: center;
    width: 100%;
}
.nav-link{
    position: relative;
    display: inline-block;
    margin: 0 1rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    color: #45f3ff;
    font-weight: 500;
    opacity: 0.9;
    transition: 0.3s;    
}
.nav-link::after{
    content: "";
    position: absolute;
    width: 0;
    height: 10px;
    border-radius: 5px;
    bottom: 0;
    left: -5px;
    z-index: -1;
    opacity: 0.2;
    transition: 0.3s;
}
.hamburger{
    display: none;
    padding: 1rem 0;
    height: 12px;
    width: 25px;
    box-sizing: content-box;
    cursor: pointer;
    position: relative;   
}
.hamburger .bar{
    width: 100%;
    height: 2px;
    background-color: #45f3ff;
    border-radius: 3px;
    position: absolute;
}
.hamburger .bar:first-child{
    top: 1rem;
    transition: top 0.2s .15s, transform 0.3s;
}
.hamburger .bar:last-child{
    bottom: 1rem;
    transition: bottom 0.2s .15s, transform 0.3s;
}
body.open .hamburger .bar:first-child {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    transition: top 0.2s, transform 0.3s 0.1s;
}
body.open .hamburger .bar:last-child {
    bottom: 50%;
    transform: translateY(50%) rotate(45deg);
    transition: bottom 0.2s, transform 0.3s 0.1s;
}
/* Section ABOUT  */
.about .container{
    display: grid;
    align-items: center;
}
.about .text{
    margin: 1.5rem 0 1.5rem;
}
.about-grid{
    display: grid;
    justify-content: center;
    grid-template-columns: 1.05fr 30%;
    column-gap: 2.5rem;
    row-gap: 100px;
    margin-right: 2rem;
    margin-top: 20px;
    position: relative;
}

/* Call-to-action  */

.sectioncalltoaction{
    background-image: url(/assets/img/banner_vip.jpg);
}
.call-to-action{
    display: inline-block;
    padding: 1rem 1.95rem;
    border-radius: 30px;
    background-color: #45f3ff;
    color: #1c1c1c;
    font-size: 1.5rem;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    font-family: inherit;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 40%;
    margin-top: 20px;
}
.call-to-action2{
    display: inline-block;
    padding: 1rem 1.95rem;
    border-radius: 30px;
    background-color: #45f3ff;
    color: #1c1c1c;
    font-size: 1.5rem;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    font-family: inherit;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 45%;
    margin-top: 20px;
}
.shopcalltoaction{
    background-image: url(/assets/img/shop.jpg);
}
/* FOOTER */
footer{
    padding: 4rem 0;
}
footer .container{
    display: flex;
    justify-content: space-between;
    background-color: #1c1c1c;
    border-radius: 17px;
    align-items: center;
    flex-wrap: wrap;
    
}
.condition{
    color: #45f3ff;
}
/* RESPONSIVE */

/* <!---------------------------1000px screen -------------------------------------!> */
@media (max-width : 1000px) {
    .text{
        font-size: 0.8rem;
        margin: 1.3rem 0;
    }
    nav.container{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        background-color: #1c1c1c;
        border-radius: 17px;
        margin-top: 1rem;
    }
    h1{
        font-size: 2rem;       
    }
    .navbtn2{
        display: inline-block;
        padding: 0.9rem 1.75rem;
        border-radius: 17px;
        background-color: #45f3ff;
        color: #1c1c1c;
        font-size: 0.85rem;
        letter-spacing: 0.4px;
        text-transform: capitalize;
        border: none;
        outline: none;
        font-family: inherit;
        cursor: pointer;
        transition: 0.3s;
        margin-left: 5px;
    }
    .call-to-action{
        display: inline-block;
        padding: 1rem 1.7rem;
        border-radius: 30px;
        background-color: #45f3ff;
        color: #1c1c1c;
        font-size: 1rem;
        letter-spacing: 0.4px;
        text-transform: capitalize;
        font-family: inherit;
        cursor: pointer;
        transition: 0.3s;
        margin-left: 40%;
        margin-top: 20px;
    }
    .call-to-action2{
        display: inline-block;
        padding: 1rem 1.7rem;
        border-radius: 30px;
        background-color: #45f3ff;
        color: #1c1c1c;
        font-size: 1rem;
        letter-spacing: 0.4px;
        text-transform: capitalize;
        font-family: inherit;
        cursor: pointer;
        transition: 0.3s;
        margin-left: 45%;
        margin-top: 20px;
    }
    .card .content .details h2{
        margin-bottom: 70px;
    } 
    .game-gallery{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 5rem;
        margin-bottom: 50px;
    }  
}


/* <!---------------------------768px screen -------------------------------------!> */
@media (max-width : 768px) {
    section{
        position: relative;
        padding: 4.5rem ;
    }
    .hamburger{
        display: block;
    }
    .links{
        order: 3;
        flex-basis: 100%; /*  width : 100% */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 0 2rem;
        transition: 0.3s;
    }
    .navbtn2{
        display: inline-block;
        padding: 0.9rem 1.75rem;
        border-radius: 17px;
        background-color: #45f3ff;
        color: #1c1c1c;
        font-size: 0.85rem;
        letter-spacing: 0.4px;
        text-transform: capitalize;
        border: none;
        outline: none;
        font-family: inherit;
        cursor: pointer;
        transition: 0.3s;
        margin-top: 5px;
    }
    header nav{
        justify-content: space-between;
    }
    .links ul {
        position: relative;
        flex-direction: column;
    }
    .nav-link {
        color: #45f3ff;
        font-weight: 500;
    }
    .doublebtn{
        margin: 0;
    }
    .links ul::after{
        content: "";
        position: absolute;
        width: 0%;
        height: 0.5px;
        background-color: #45f3ff;
        top: -0.5rem;
        left: 50%;
    }    
    header{
        height: 570px;
        max-height: 100px;
        overflow: hidden;
    }
    header.scrolled{
        height: 570px;
        max-height: 80px;        
    }
    body.open header{
        max-height: 570px;
    }
    .about .container{
        display: grid;
        align-items: center;
    }
    .about .text{
        margin: 1rem;
    }
    .aboutimg{
        width: 25rem;
    }
    .about-grid{
        display: grid;
        grid-template-columns: 1fr 60%;
        position: relative;
    }
    
    .card .content .details h2{
        margin-bottom: 70px;
    }

}
/* <!---------------------------500px screen -------------------------------------!> */
@media (max-width : 500px) {
    section{
        position: relative;
        padding: 4rem ;
    }
    .container{
        padding: 0 1rem;
    }
    .about-grid{
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
    }
    .about .text{
        font-size: 1rem;
    }
    h1{
        font-size: 1.5rem;       
    }
    .navbtn2{
        display: inline-block;
        padding: 0.9rem 1.75rem;
        border-radius: 17px;
        background-color: #45f3ff;
        color: #1c1c1c;
        font-size: 0.85rem;
        letter-spacing: 0.4px;
        text-transform: capitalize;
        border: none;
        outline: none;
        font-family: inherit;
        cursor: pointer;
        transition: 0.3s;
        margin-top: 5px;
    }
    .call-to-action{
        display: inline-block;
        padding: 1rem 1rem;
        border-radius: 30px;
        background-color: #45f3ff;
        color: #1c1c1c;
        font-size: 1rem;
        letter-spacing: 0.4px;
        text-transform: capitalize;
        font-family: inherit;
        cursor: pointer;
        transition: 0.3s;
        margin-left: 35%;
        margin-top: 20px;
    }
    .call-to-action2{
        display: inline-block;
        padding: 1rem 1rem;
        border-radius: 30px;
        background-color: #45f3ff;
        color: #1c1c1c;
        font-size: 1rem;
        letter-spacing: 0.4px;
        text-transform: capitalize;
        font-family: inherit;
        cursor: pointer;
        transition: 0.3s;
        margin-left: 45%;
        margin-top: 20px;
    }
    footer{
        padding: 7rem 1rem;
    }
    footer .text{
        order: 3;
        flex-basis: 100%;
        text-align: center;
        margin-top: 1rem;
    }
    .signupBox{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 300px;
        height: 500px;
        background: #1c1c1c;
        border-radius: 8px;  
        margin-top: 5%;
        overflow: hidden;
    }
    .signupBox::before{
        content: '';
        position: absolute;
        top: -50%;
        left: -50%;
        width: 380px;
        height: 520px;
        background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
        transform-origin: bottom right;
        animation: animate 6s linear infinite;
    }
    .signupBox::after{
        content: '';
        position: absolute;
        top: -50%;
        left: -50%;
        width: 50px;
        height: 320px;
        background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
        transform-origin: bottom right;
        animation: animate 6s linear infinite;
        animation-delay: -3s;
    }   
    .card .content .details h2{
        margin-bottom: 70px;
    } 
    
}
/* <!==============================================  LOGIN PAGE ================================================================================!>  */
#login{
    overflow-x: hidden;
    background-color: #23242a; 
    font-family: 'Poppins', sans-serif;
    transition: 0.3s background-color;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;  
    margin-top: 5%;
    overflow: hidden;
}
.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.form{
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background: #23242a;
    z-index: 10;
    padding: 50px 40px;
}
.form h2{
    color: #45f3ff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1rem;
}
.inputBox{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}
.inputBox label{
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.inputBox input:valid ~ label,
.inputBox input:focus ~ label{
    color: #45f3ff;
    transform: translateX(0px) translateY(-34px);
    font-size: 0.75em;
}
.inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #45f3ff;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}
.inputBox input:valid ~ i,
.inputBox input:focus ~ i{
    height: 44px;
}
.loglinks{
    display: flex;
    justify-content: space-between;
}
.loglinks a{
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}
.loglinks a:hover,
.loglinks a:nth-child(2){
    color: #45f3ff;
}
input[type="submit"]{
    border: none;
    outline: none;
    background: #45f3ff;
    padding: 11px;
    width: 100px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}
input[type="submit"]:active{
    opacity: 0.8;
}

/* <!==============================================  SIGNUP PAGE ================================================================================!>  */
#signup{
    overflow-x: hidden;
    background-color: #23242a; 
    font-family: 'Poppins', sans-serif;
    transition: 0.3s background-color;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signupBox{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 500px;
    height: 750px;
    background: #1c1c1c;
    border-radius: 8px;  
    margin-top: 5%;
    overflow: hidden;
}
.signupBox::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 580px;
    height: 1020px;
    background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.signupBox::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.connect{
    border: none;
    outline: none;
    background: #45f3ff;
    padding: 10px;
    font-size: 0.8rem;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    color: #1c1c1c;
}
.connect:active{
    opacity: 0.8;
}
/* <!==============================================  GAME PAGE ================================================================================!>  */
#game{  
    margin-top: 80px;
    margin-left: 100px;

}
.game-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 5rem;
    margin-bottom: 50px;
}
.card{
    grid-template-rows: 1fr auto;
    position: relative;
    width: 350px;
    height: 190px;
    background: #23242a;
    transition: 0.5s;
}
.card:hover{
    height: 450px;
}
.card .lines{
    position: absolute;
    inset: 0;
    background: #1c1c1c;
    overflow: hidden;
}
.card .lines::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 120px;
    background: linear-gradient(transparent, #45f3ff,#45f3ff,transparent);
    animation: animate2 4s linear infinite;
}
@keyframes animate2{
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
.card .lines::after{
    content: '';
    position: absolute;
    inset: 3px;
    background: #23242a;
}
.card .imgBx{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background: #1c1c1c;
    transition: 0.5s;
    z-index: 10;
    overflow: hidden;
}
.car:hover .imgBx{
    width: 250px;
    height: 250px;
}
.card .imgBx::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 150px;
    transform: translate(-50%, 50%);
    background: linear-gradient(transparent, #ff3c7b, #ff3c7b, #ff3c7b, transparent);
    animation: animate3 6s linear infinite;
}
@keyframes animate3{
    0%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
}
.card .imgBx::after{
    content: '';
    position: absolute;
    background: #23242a;
    inset: 3px;
}
.card .imgBx img{
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    width: 95%;
    height: 95%;
}
.card .content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}
.card .content .details{
    padding: 5px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(145px);
}
.card:hover .content .details{
    margin-bottom: 60px;
    transform: translateY(0px);
}
.card .content .details h2{
    font-size: 1.25em;
    font-weight: 600;
    color: #45f3ff;
    line-height: 1.2em;
    margin-bottom: 70px;    
}
/* <!==============================================  BLACK JACK PAGE ================================================================================!>  */
#BJ{
    text-align: center;
}
#dealer-cards img{
    height: 175px;
    width: 125px;
    margin: 1px;
}
#player-cards img{
    height: 175px;
    width: 125px;
    margin: 1px;
}
#hit{
    width: 125px;
    height: 50px;
    font-size: 20px;
    color: #45f3ff;
    background-color: #1c1c1c;
    border-color: #45f3ff;
    font-family: 'Poppins', sans-serif;

}
#stay{
    width: 125px;
    height: 50px;
    font-size: 20px;
    color: #45f3ff;
    background-color: #1c1c1c;
    border-color: #45f3ff;
    font-family: 'Poppins', sans-serif;
}
#replay{
    width: 125px;
    height: 50px;
    font-size: 20px;
    color: #45f3ff;
    background-color: #1c1c1c;
    border-color: #45f3ff;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
}
.h2{
    color: #45f3ff;
}
#result{
    color: #45f3ff;
}
/* <!==============================================  ROULETTE PAGE ================================================================================!>  */
